
@{
    ViewBag.Title = "Success";
}
<div class="container body-content">


    <h2>Your Booking Was Successful.</h2>
    <h2>Check your email for details.</h2>

    @Html.ActionLink("See our product range", "ProductsRe", "Home")

</div>