@{
    ViewBag.Title = "About";
}
<h2>All Policies are here</h2>

<h2>No Accounts will be iven without a credit history being done</h2>
<h2>no tyres repaired will be given without payment</h2>
<h2>No no breakdowns will be done without finding out exactly where the vehicle is and half pament made</h2>


<p></p>
