@{
    ViewBag.Title = "Contact";
}

<body>
    <div class="container body-content">
        <h1>Contact Us</h1>
        <div>
            <h3><span class="glyphicon glyphicon-phone"></span> Call Us</h3>
            <address>
                <abbr title="Phone">Sagren : </abbr>
                +2784 264 4028
            </address>

            <h3><span class="glyphicon glyphicon-envelope"></span> Email Us</h3>
            <address>
                <strong>Email : </strong> <a href="mailto:Marketing@example.com">ktspinetown@gmail.com</a>
            </address>
        </div>


        <div>
            <h3><span class="glyphicon glyphicon-map-marker"></span> Find Us Here</h3>
            <p>
                16 Gillets (Gate 3)<br />
                Ashley,Pinetown
            </p>
            <div style="border-radius:25px">
                <iframe style="border-radius:25px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13846.270014225148!2d30.85070897350217!3d-29.81903686267986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ef6fe60168c6537%3A0x7754c89d9818ab8b!2s16%20Gillitts%20Rd%2C%20New%20Germany%2C%20Pinetown%2C%203620!5e0!3m2!1sen!2sza!4v1567183131894!5m2!1sen!2sza" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>

    </div>

</body>