
.div-container .div-header {
    background-color: peru;
   align-items:stretch;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



    .div-container .div-header ul li a {
   
        align-content:flex-start;
    }

        .div-container .div-header ul li a:hover {
            border-color: blue;
            color: black;
        }

.div-container .div-cat-left {
    background-color:maroon;
 
}

.div-container .div-cat-left ul li a{
   font-family:'Microsoft YaHei UI';
   
}


.div-container .div-cat-left ul li a:hover {
    color:black;
 
}