<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5c785780-2e8b-47f4-8c30-2a9b6144df0e/resourcegroups/kts/providers/Microsoft.Web/sites/ktsStore</ResourceId>
    <ResourceGroup>kts</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ktsstore.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ktsstore.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ktsStore</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ktsStore</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ktserver.database.windows.net,1433;Initial Catalog=ktsStore_db;User ID=sam@ktserver;Password=Yajnah77" Name="Data Source=tcp:ktserver.database.windows.net,1433;Initial Catalog=ktsStore_db;User Id=sam@ktserver;Password=Yajnah77" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="KTS.Models.ApplicationDbContext, KTS" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="KTS" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:ktserver.database.windows.net,1433;Initial Catalog=ktsStore_db;User ID=sam@ktserver;Password=Yajnah77" Name="Data Source=tcp:ktserver.database.windows.net,1433;Initial Catalog=ktsStore_db;User Id=sam@ktserver;Password=Yajnah77" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="KTS.data.ktsContext, KTS" MigrationConfiguration="KTS.Migrations.KtsStore.Configuration, KTS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="KTS-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ktserver.database.windows.net,1433;Initial Catalog=ktsStore_db;User Id=sam@ktserver;Password=Yajnah77</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ktserver.database.windows.net,1433;Initial Catalog=ktsStore_db;User Id=sam@ktserver;Password=Yajnah77</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>